.filters_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;

    margin-top: 40px;
}

.form_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filter_title {
    font-size: 16px;
    color: var(--grey_text);
}
.filter_input {
    width: 100%;
    height: 60px;
    padding: 0 20px;

    font-size: 18px;
    border: 2px solid var(--grey-border);
    border-radius: 15px;
}
.filter_input::placeholder {
    color: var(--input-inner);
}
.filter_input:focus {
    border-color: var(--green);
}

.action_btn {
    width: 100%;
    height: 60px;
    margin-top: auto;

    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;

    transition: all 0.1s ease-out;
}
.action_btn.search {
    color: #fff;
    background-color: var(--green);
}
.action_btn.search:hover {
    font-weight: 700;
    border: 2px solid #fff;
    box-shadow: inset 0 0 15px 0 #fff;
}
.action_btn.reset {
    color: var(--warning);
    background-color: var(--background);
    border: 2px solid var(--warning);
}
.action_btn.reset:hover {
    font-weight: 700;
    box-shadow: inset 0 0 15px 0 var(--warning);
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .filters_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .filters_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .filters_wrapper {
        grid-template-columns: 1fr;
    }
}